# Python
__pycache__/
*.py[cod]
*.so
venv/
env/

# Log files
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Node.js
node_modules/
dist/

# Other
.idea/
.vscode/
*.swp
